# .env example file as suggested by Anders (https://github.com/ezspot)
# rename this file to '.env' to use it

POSTGRES_USER=app_user
POSTGRES_PASSWORD=change_me
POSTGRES_DB=app_db
POSTGRES_PORT=5432

DATABASE_URL="postgresql://app_user:change_me@localhost:5432/app_db?schema=public"

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:5173 # Base URL of your app
